<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasil Ramalan | Mak Cunt</title>
    <meta name="description" content="Ramalan makcunt dipastikan akurat, persiapkan masa depan mu dari sekarang.">
	<meta name="keywords" content="game, makcunt, ralaman, masa depan">
	<meta name="robots" content="index, follow">
	<link rel="canonical" href="https://makcunt.velcel.app">
	<meta name="author" content="I-As.Dev">
	<link rel="icon" href="/logo.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
	<img class="h-screen w-full object-cover absolute -z-10" src="https://i.pinimg.com/originals/85/db/41/85db411e5bebff00b8a21f6d29d8c394.gif">
    <div class="h-screen w-full flex items-center justify-center backdrop-blur-sm p-6">
        <div class="flex flex-col justify-center items-center bg-orange-300/70 py-9 px-6 rounded-lg shadow-lg border border-orange-300 shadow-lg max-w-md">
            <img src="/logo.png" class="h-36 w-36 m-auto">
            <h1 class="text-center text-orange-600 text-3xl font-extrabold mt-2">
                Hasil Prediksi
            </h1>
            <p class="text-orange-600 px-6 text-center mt-2">
                <%= prediction %>
            </p>
			<div class="flex justify-center items-center mt-6">
				<a href="/" class="px-4 py-2 rounded-lg bg-orange-600 text-white">Kembali</a></p>
			</div>
		</div>
    </div>
</body>
</html>
